@import "../../styles/variables";

.app-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin: 0 20px;
  &__currencies {
    display: flex;
  }
  small {
    @include fontMain(16px, 22px, normal);
    color: #f9fffd;
  }
}

